* {
  background-color: white;
  color: black;
}

#App {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: 90%;
  height: 30%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  /* border-bottom: white; */
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin: 25px;
  outline-width: 0;
}

#pause-btn {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
  font-weight: 800;
  font-size: 10px;
  text-align: center;
  margin: 25px;
}

.thought {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  margin: 1%;
  display:flex;
  font-size: 50px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

button {
  width: 350px;
  height: 100px;
  border-radius: 10px;
  border-color: white;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  margin: 25px;
}



.cherished-container {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.button-container{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}

.edit-thought {
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin: 5px;
}

.delete-thought {
  width: 20px;
  height: 20px;
  font-size: 10px;
  margin: 5px;
}

.cherished-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  max-height:80%;
  overflow-y: auto;
  width:100%;
}



#currentThought {
  width: 750px;
}

#navbar {
  justify-content: right;
  align-items: right;
}

#bagel-img {
  width: 528px;
  height:525px;
  border-radius: 50%;
}

#theBagel {
  border-radius: 50%;
  width: 352px;
  height: 350px;
  background-image: url('https://res.cloudinary.com/juannncodes/image/upload/v1660091449/everythingbagel_xvakm1.png');
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 10%;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
